html {
  min-width: 1040px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 4em;
  width: 960px;
}

#body {
  position: relative;
}

footer {
  font-size: small;
  margin-top: 8em;
}

#body>p, li>p {
  line-height: 1.5em;
}

#body>p {
  width: 720px;
}

#body>blockquote {
  width: 640px;
}

li {
  width: 680px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

#body>pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

.html .value, .javascript .string, .javascript .regexp {
  color: #756bb1;
}

.html .tag, .css .tag, .javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype, .javascript .number {
  color: #31a354;
}

.html .attribute, .css .attribute, .javascript .class, .javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before, blockquote:before {
  content: "“";
}

q:after, blockquote:after {
  content: "”";
}

blockquote:before {
  position: absolute;
  left: 2em;
}

blockquote:after {
  position: absolute;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1+h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#logo img {
  height: 60px;
}

#main_content {
  margin-top: 3em;
}