/* General Demo Style */

@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	font-size: 100%;
	padding: 0;
	margin: 0;
	background-color: none;
	overflow: hidden;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-color: #eee;
	font-weight: 400;
	width:1000px;
	height:720px;
	/* border: solid 1px red; */
}

#chart {
	position: fixed;
	top: 175px;
	left: 0;
	height: 555px;
	width: 1000px;
	z-index: 10;
}

.fade {
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

#title {
	position: fixed;
	top: 15px;
	left: 270px;
	font-size: 1.3em;
	width: 450px;
	text-align: left;
}

#footer {
	position: fixed;
	top: 22px;
	left: 545px;
	width: 300px;
	font-size: 0.8em;
	text-align: right;
}

a {
	text-decoration:none;
}

.credit{
	z-index: 20;
	opacity: 0;
}

#logo{
	z-index: 30;
}

#dc2 {
	position: fixed;
	top: 690px;
	left: 965px;
}

#dc2 a img{
	height: 20px;	
}

#logo1 img {
	position: fixed;
	top: 15px;
	left: 130px;
	width: 105px;
}
#logo2 img {
	position: fixed;
	top: 15px;
	left: 15px;
	width: 100px;
}

#social {
	position: fixed;
	top: 12px;
	left: 675px;
	width: 300px;
	font-size: 1.5em;
	z-index: 20;
	text-align: right;
}

#social div,a {
	display: inline;
}

#social div:hover {
	cursor: pointer;
}

#social i {
	width: 40px;
}

#desc1 {
	position: fixed;
	top: 190px;
	left: 720px;
	width: 260px;
	/* height: 110px; */
	font-size: 0.9em;
	text-align: left;
	z-index:12;
}

#desc2 {
	position: fixed;
	top: 550px;
	left: 720px;
	width: 260px;
	/* height: 100px; */
	font-size: 0.9em;
	text-align: left;
	z-index:12;
}

#desc3 {
	position: absolute;
	top: 525px;
	left: 700px;
	width: 280px;
	/* height: 100px; */
	font-size: 1em;
	font-weight: bold;
	text-align: right;
	z-index:12;
}

#nav {
	position: fixed;
	top: 90px;
	left: 10px;
	width: 960px;
	z-index: 10;
	font-size: 1em;
	cursor: pointer;
	text-decoration: none;
	margin: 0;
	padding: 0;
	z-index: 11;
	white-space: nowrap;
}

#nav2 {
	position: fixed;
	top: 175px;
	left: 10px;
	width: 230px;
	z-index: 10;
	font-size: 1em;
	cursor: pointer;
	text-decoration: none;
	margin: 0;
	padding: 0;
	z-index: 11;
	white-space: nowrap;
}
.tgl {
	display: inline-block;
	padding:5px;
	height: 30px;
	width: 115px;
	text-align: center;
}

#subtitle {
	position: fixed;
	top: 50px;
	left: 270px;
	z-index: 20;
	width: 710px;
	font-size: 0.96em;
	line-height: 1.3;
}

#chart3:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	/* background-color: black;  */
	background-image: url(bg2.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: -1;
}

.cat {
	width: 143px;
}

.dim {
	width: 115px;
}

.dim i {
	font-size: 22px;
}

.button {
	border: 1px solid #eee;
	;
}

.sep {
	width: 25px;
	border: none;
}

.menu {
	display: inline-block;
	padding:5px;
	height: 70px;
	text-align: center;
}

.menu i,img,span {
	display: block;
	margin: auto;
}

.icon {
	height: 40px;
}

/* Change color of dropdown links on hover */

.button:hover {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
	opacity:0.8;
}