#panel-90 .panel-menu-container {display: none !important;}
#panel-90 .panel-title-container {cursor: auto !important;}
#panel-10 .panel-menu-container {display: none !important;}
#panel-10 .panel-title-container {cursor: auto !important;}
#panel-23 .panel-menu-container {display: none !important;}
#panel-23 .panel-title-container {cursor: auto !important;}
#panel-84 .panel-menu-container {display: none !important;}
#panel-84 .panel-title-container {cursor: auto !important;}
#panel-82 .panel-menu-container {display: none !important;}
#panel-82 .panel-title-container {cursor: auto !important;}
#panel-6 .panel-menu-container {display: none !important;}
#panel-6 .panel-title-container {cursor: auto !important;}
#panel-12 .panel-menu-container {display: none !important;}
#panel-12 .panel-title-container {cursor: auto !important;}
#panel-93 .panel-menu-container {display: none !important;}
#panel-93 .panel-title-container {cursor: auto !important;}
#panel-19 .panel-menu-container {display: none !important;}
#panel-19 .panel-title-container {cursor: auto !important;}
#panel-18 .panel-menu-container {display: none !important;}
#panel-18 .panel-title-container {cursor: auto !important;}
#panel-98 .panel-menu-container {display: none !important;}
#panel-98 .panel-title-container {cursor: auto !important;}
#panel-17 .panel-menu-container {display: none !important;}
#panel-17 .panel-title-container {cursor: auto !important;}
#panel-16 .panel-menu-container {display: none !important;}
#panel-16 .panel-title-container {cursor: auto !important;}
#panel-86 .panel-menu-container {display: none !important;}
#panel-86 .panel-title-container {cursor: auto !important;}
#panel-15 .panel-menu-container {display: none !important;}
#panel-15 .panel-title-container {cursor: auto !important;}
#panel-14 .panel-menu-container {display: none !important;}
#panel-14 .panel-title-container {cursor: auto !important;}
#panel-92 .panel-menu-container {display: none !important;}
#panel-92 .panel-title-container {cursor: auto !important;}
#panel-85 .panel-menu-container {display: none !important;}
#panel-85 .panel-title-container {cursor: auto !important;}
#panel-94 .panel-menu-container {display: none !important;}
#panel-94 .panel-title-container {cursor: auto !important;}
#panel-66 .panel-menu-container {display: none !important;}
#panel-66 .panel-title-container {cursor: auto !important;}
#panel-106 .panel-menu-container {display: none !important;}
#panel-106 .panel-title-container {cursor: auto !important;}
#panel-105 .panel-menu-container {display: none !important;}
#panel-105 .panel-title-container {cursor: auto !important;}
#panel-8 .panel-menu-container {display: none !important;}
#panel-8 .panel-title-container {cursor: auto !important;}
#panel-13 .panel-menu-container {display: none !important;}
#panel-13 .panel-title-container {cursor: auto !important;}
#panel-57 .panel-menu-container {display: none !important;}
#panel-57 .panel-title-container {cursor: auto !important;}