@import url(//fonts.googleapis.com/css?family=Coda:400,700);
.scroll-canvas--dashboard {
    height: 100%;
}

.panel-info-corner {
    width: 100%;
}

.panel-info-corner-inner, .panel-info-corner i {
    display: none;
}

tr td:first-child {
    width: 110px;
}

.diagram-legend-canvas, .gradient-values-container, .navbar, .sidemenu {
    display: none;
}

.logo {
    /*filter: saturate(15);  */
    filter: brightness(50);
}

.panel-container {
    background: #141e30;
    background: -webkit-linear-gradient(to bottom right, #141e30, #243b55);
    background: linear-gradient(to bottom right, #141e30, #243b55);
    border-color: #141e30;
    /*#2C5364, #203A43, #0F2027*/
}

.panel-container--transparent {
    background: rgba(0, 0, 0, 0);
}

.grafana-tooltip {
    background: rgba(0, 0, 0, 0.3);
}

h1, h2 {
    font-family: "Coda";
    font-weight: 700;
}

div, span, td, a, text {
    font-family: "Coda";
}

.lang a, .other a {
    text-decoration: none;
    font-weight: bold;
    color: lightGray;
}

.credit a {
    text-decoration: none;
}

.scroll-canvas {
    background: #141e30;
    background: -webkit-linear-gradient(to bottom right, #141e30, #243b55);
    background: linear-gradient(to bottom right, #141e30, #243b55);
    /*#2C5364, #203A43, #0F2027*/
}

.panel-header:hover {
    background: none;
}

.panel-menu-toggle {
    display: none;
}

.dashlist-section, .dashlist-item, .dashlist-link {
    background: none;
}

.dashlist-link {
    background: #141e30;
    background: -webkit-linear-gradient(to bottom right, #141e30, #243b55);
    background: linear-gradient(to bottom right, #141e30, #243b55);
    /*#2C5364, #203A43, #0F2027*/
}

.dashlist-link:hover {
    background: #141e30;
}

table {
    borders: none;
}

.table-panel-header-bg {
    background: none;
    border: none;
}

.table-panel-table td {
    border: none;
}